@import url('https://fonts.googleapis.com/css2?family=Anton&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@theme {
    --font-anton: "Anton", "sans-serif";

    --color-DragoWhite: #F9F9F9;
    --color-DragoGray: #333333;
    --color-DragoAccentRed: #FF4655;
    --color-DragoOrange: #E48601;
}

@import "tailwindcss";

html {
    scrollbar-gutter: stable;
}